@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {font-family: sans-serif;}
h1 {font-family: 'Fredoka One', sans-serif;}

.bmp_row {display: flex; height: 15px;}
.bmp_cell {display: flex; width: 15px; height: 15px; border: 1px solid transparent;}

.show_grid .bmp_cell {border: 1px solid gray;}

.bitmap {width: max-content; padding: 2px; border: 1px solid black;}

#controls {display: flex; border: 1px solid black; width: max-content; font-size: 40px;}
#controls .selected {border: 3px solid black; margin: 3px;}
#toolbar {display: flex; height: 50px; width: max-content;}
#toolbar div {display: flex; cursor: pointer; width: 38px; height: 38px; border: 1px solid black; margin: 5px; align-items: center; justify-content: center;}
#fill {background: url('fill.png'); background-size: contain;}

#palette {display: flex; height: 50px; width: max-content;margin: 0 30px;}
#palette div {display: flex; cursor: pointer; width: 38px; height: 38px; margin: 5px; border: 1px solid black;}

#grid {display: flex; cursor: pointer; width: 38px; height: 38px; border: 1px solid black; margin: 5px; font-size: 35px; justify-content: center;}